*{
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}
.slika img{
    border: 5px solid white;
    width:90%
    height: auto;
}
.t1 h2{
    text-transform: uppercase;
    font-size: 2em;
}
.t2{
    font-size:1.2em;
}
div{
    width:50%;
    margin-left:25%;
}
