
.mainosobna{
    height: 300px;
    width: 500px;
    border: solid black 5px;
    position: relative;

}

.image{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: absolute;
    margin-top: 70px;
    margin-left: 30px;
    object-fit: cover;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name{
    position: absolute;
    margin-left: 230px;
    margin-top: 30px;
}

.p1{
    position: absolute;
    margin-left: 200px;
    margin-top: 70px;
}
.p2{
    position: absolute;
    margin-left: 200px;
    margin-top: 130px;
}
.p3{
    position: absolute;
    margin-left: 200px;
    margin-top: 160px;
}
.p4{
    position: absolute;
    margin-left: 220px;
    margin-top: 210px;
}
.p5{
    position: absolute;
    margin-left: 320px;
    margin-top: 210px;
}

.border{
    margin-top: 100px;
    width:400px;
    height: 300px;
    border: solid black 5px;
    position: absolute;}
.kutija {   
    width: 400px;
    height: 300px;
    background-color: #E35158;
    display: flex;
    position: relative;
}
.pozicija {
    margin-top: 180px; 
    margin-left: 170px;
    position:relative;
}




.kljuc-ikona {
    position: absolute;
    width: 40px;
    height: 90px;
    background-color: #D9D9D9;
}


.kljuc-krug {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 110px;
    background-color: #D9D9D9;
    border-radius: 50%;
}


.kljuc-rupa {
    position: absolute;
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    width: 37px;
    height: 37px;
    background-color: #E35158;
    border-radius: 50%;
}


.tijelo {
    position: absolute;
    top: -70px;
    width: 40px;
    height: 70px;
    background-color: #D9D9D9;
}


.zubm {
    position: relative;
    top:10px;
    left: 30px;
    width: 25px;
    height: 15px;
    background-color: #D9D9D9;
}
.zubV {
    position: relative;
    top:20px;
    left: 30px;
    width: 40px;
    height: 30px;
    background-color: #D9D9D9;
}

